.main{
  /* border: solid 1px black; */
  border-radius: 1%;
  height: 90vh;
  width: 80%;
  margin: 2% auto;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-areas:"header header header"
                      "balance expense expense"
  ;
}
header{
  grid-area: header;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}
.balanceMain{
  grid-area: balance;
  border: 1px solid purple;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
  .balanceInput{
    border: none;
    border-bottom: 2px solid green ;
    outline: none;
  }
  .balanceAmount{
    color: green;
    font-size: 4em;
  }
.expenseMain{
  grid-area: expense;
  border: 1px solid yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  .expenseAmount{
    color: red;
  }