@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  /* background: linear-gradient(to right, #8e9eab, #eef2f3); */
}
.main{
  /* border: solid 1px black; */
  background: linear-gradient(to right, #8e9eab, #eef2f3);
  border-radius: 1%;
  height: 90vh;
  width: 80%;
  margin: 1% auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-areas:"header"
                      "balance"
  ;
  padding: 1%;
}
header{
  grid-area: header;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  
}
.balanceMain{
  grid-area: balance;
  /* border: 1px solid purple; */
  display: grid;
  grid-template-areas: 'balanceContent expense';
  grid-template-columns: 25% 73%;
  gap: 0% 2%;
  font-family: 'Roboto', sans-serif;

}

  .balanceContent{
    grid-area: balanceContent;
    /* border: 1px solid red; */
    border-radius: 1%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    font-family: 'Roboto', sans-serif;
  }
  .balanceInput{
    border: none;
    border-bottom: 2px solid green ;
    outline: none;
    width: 50%;
  }
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  .balanceAmount{
    color: green;
    font-size: 2em;
  }
.expenseMain{
  /* border: 1px solid blue; */
  grid-area: expense;
  display: grid;
  grid-template-areas: 'content'
                       'remaining'
  ;
  grid-template-rows: 90% 10%;

  /* Fixed the problem of overflow not working in expenseContent */
  min-height: 0;
}
.expenseContent{
  /* border: 1px solid yellow; */
  border-radius: 1%;
  background-color: white;
  grid-area: content;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  font-family: 'Roboto', sans-serif;
  overflow-y: auto;
}
  .totalExpense{
    color: red;
  }
    .expenseInput{
    border: none;
    border-bottom: 2px solid green ;
    outline: none;
    width: 15%;
  }

  .expenseItem{
    /* border: 1px solid red; */
    width: 90%;
    display: flex;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    font-family: 'Roboto', sans-serif;
  }

.remain{
  grid-area: remaining;
  /* border: 1px solid green; */
  display: flex;
  align-items: center;

}  
  button {
  background-color: gray;
  border: none;
  border-radius: 5%;
  color: white;
  padding: 1%;
  margin: 1%;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  }
    button:hover{
      background-color: green;
    }


